:root {
    --color-text: #23272A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color:#3161e0;
    padding: 10px;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 2rem;
}

footer {
    background-color: var(--color-text);
    padding: 3rem 0;
    border-bottom: 1px solid white;
    color: #ffffff;
}

section {
    padding: 120px 0;
}

h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

h4 {
    font-size: 1.2rem;
    color: #8ea1e1;
    padding-bottom: 1rem;
}

h5 {
    font-size: 0.7rem;
    color: #8ea1e1;
    padding-bottom: 0.5rem;
}

.container {
    width: 920px;
    margin: auto;
}

.container-small {
    width: 720px;
    padding: 100px;
    text-align: center;
    color: #ffffff;
}

.background-grey {
    background-color: rgb(211, 211, 211);
}

.container .navbar {
    display: flex;
    align-items: center;
}

.nav-logo {
    flex-basis: 20%;
    padding: 5px;
}

.logo {
    width: 90px;
}

.nav-link {
    flex-grow: 1;
    flex-basis: 60%;
}

.nav-link ul {
    display: flex;
    list-style: none;
    justify-content: center;
    column-gap: 2rem;
}

.nav-link ul a {
    text-decoration: none;
    color: #ffffff;
}

.nav-login {
    flex-basis:20%;
    text-align: end;
}

.button {
    border: none;
    border-radius: 50px;
    padding: 0.7rem 1.5rem;
}

.btn-small {
    font-size: 0.7rem;
    padding: 0.5rem 0.7rem;
}

.btn-white {
    background-color: #ffffff;
    color: var(--color-text);
}

.btn-black {
    background-color: var(--color-text);
    color: #ffffff;
}

.btn-violet {
    background-color: #8ea1e1;
    color: #ffffff;
}

header p, button {
    padding-bottom: 1rem;
}

.list-button{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.row {
    display: flex;
    align-items: center;
}

.row img {
    width: 500px;
}

.col {
    flex-grow: 1;
    flex-basis: 30%;
    color: var(--color-text);
    padding-left:2rem;
}

.col-img {
    flex-basis: 70%;
}

.col-sx {
    text-align: end;
}

.section-4 {
    text-align: center;
    padding: 0 3.5rem;
}

.section-4 img {
    width: 460px;
    margin-bottom: -15px;
}

.footrow {
    display: flex;
    border-bottom: 1px solid #8ea1e1;
    padding-bottom: 1rem;
}

.footcol .language {
    padding-bottom: 0.8rem;
}

img.flag {
    width: 20px;
}

.link-social {
    display: flex;
    column-gap: 1rem;
}

.link-social i {
    color: #ffffff;
}

.footcol {
    flex-grow: 1;
    font-size: 0.7rem;
}

.footcol ul {
    list-style: none;
}

.footcol ul li {
    padding-bottom: 0.5rem;
}

.footrow-end {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}
